<ion-view title="到这去" id="come" class=" ">
    <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="false" id="traffic-ion-content" style="height: 100%">

        <div class="bar bar-header item-input-inset" id="traffic-search-top" style="position: absolute; top: 0px; z-index: 100">
            <div style="width: 90%;">
                <label class="item-input-wrapper" style="padding-left: 0px">
                    <div id="r-result" style="width:100%;"><label class="item-input-wrapper">
                        <input type="text" id="comeInput" overflow="hidden" size="20" value="" style="width:100%;" placeholder="出发地"/></label></div>
                    <div id="comeSearchResult" style="border:1px solid #C0C0C0;width:100%;height:auto;display: none"></div>
                </label>
            </div>
            <button class="button button-small icon ion-android-search" id="comeSearch"></button>
        </div>

        <div id="allmap223" style="width:100%; position: absolute; top: 40px; bottom: 65px;"></div>

    </ion-content>
</ion-view>