<ion-view title="路线规划" id="route" class=" ">
    <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="false" id="traffic-ion-content" style="height: 100%">
        <div class="bar bar-header item-input-inset" id="traffic-search-top" style="position: absolute; top: 0px; z-index: 100">
            <div style="width: 44%;">
                <label class="item-input-wrapper" style="padding-left: 0px">
                    <div id="r-result" style="width:100%;"><label class="item-input-wrapper">
                        <input type="text" id="suggestId" overflow="hidden" size="20" value="" style="width:100%;" placeholder="出发地"/></label></div>
                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:100%;height:auto;display: none"></div>
                </label>
            </div>
            <div style="width: 44%;margin-left: 3%;">
                <label class="item-input-wrapper" style="padding-left: 0px">
                    <div id="r-result-2" style="width:100%;"><label class="item-input-wrapper">
                        <input type="text" id="suggestId_2" size="20" value="" style="width:100%;" placeholder="目的地"/></label></div>
                    <div id="searchResultPanel_2" style="border:1px solid #C0C0C0;width:100%;height:auto;display: none"></div>
                </label>
            </div>
            <button class="button button-small icon ion-android-search" id="routeSearch"></button>
        </div>
        <div class="card" id="temp" style="display:none;z-index: 100;position: absolute; top: 40px; width: 60%">
            <div class="item item-divider" style="text-align: center" id="attractionName">
                景点名
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <h2 style="margin: 0 auto" id="attractionScore">评分：</h2>
                </div>
                <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="col">
                        <img id="attractionImage" style="width: 100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-small button-balanced" id="pageJump"
                                style="margin: 0 auto;width: 100%">查看详情
                        </button>
                    </div>
                    <div class="col">
                        <a class="button button-small button-assertive" style="margin: 0 auto;width: 100%"
                           ng-click="cancel()">取消</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="allmap2" style="width:100%; position: absolute; top: 40px; bottom: 65px;"></div>
    </ion-content>
</ion-view>