<ion-view title="搜索历史" id="history" class=" ">
    <ion-content padding="true" class="has-header" scroll="false">
        <div style="width: 290px; margin: 0 auto">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="avatar.jpg">
                    <h2>1933老场坊</h2>
                    <p>评分：100</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="avatar.jpg">
                    <h2>近代公园</h2>
                    <p>评分：90</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="avatar.jpg">
                    <h2>黄兴公园</h2>
                    <p>评分：10</p>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-bottom: 20px">
            <button class="button button-small button-positive button-outline" style="width: 50px;">评分</button>
            <button class="button button-small button-positive button-outline" style="width: 50px;">收藏</button>
            <button class="button button-small button-positive button-outline" style="width: 50px;">足迹</button>
            <button class="button button-small button-positive button-outline" style="width: 50px;">心愿</button>
            <button class="button button-small button-positive button-outline" style="width: 50px;">推荐</button>
        </div>

        <div class="bar bar-header my-bar-header item-input-inset has-tabs-top"
             style="width: 285px; margin: 0 auto;padding-bottom: 0px">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <div style="padding-top:0px">
                    <input type="text" placeholder="请输入景点名进行搜索" id="search"/>
                </div>
            </label>
            <!--<button class="button button-outline">-->
            <!--搜索-->
            <!--</button>-->
        </div>

        <div class="auto_hidden" id="autocomplete"></div>

    </ion-content>
</ion-view>