<ion-view title="登陆" id="login" class=" " ng-controller="loginController">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="page12-form2" class="list ">
            <div class="spacer" style="width: 300px; height: 58px;"></div>
            <ion-list id="page12-list4" class=" ">
                <label class="item item-input " id="page12-input4" name="username">
                    <input type="text" placeholder="用户名 或 邮箱">
                </label>
                <label class="item item-input " id="page12-input5" name="password">
                    <input type="password" placeholder="密码">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="main.list" id="page12-button19" class=" button button-positive  button-block ">登陆</a>
            <a ui-sref="signup" id="page12-button20" class=" button button-positive  button-block button-outline ">注册</a>
        </form>
    </ion-content>
</ion-view>