<ion-view title="注册" id="signup" class=" " ng-controller="signupController">
    <ion-content padding="true" class="has-header">
        <form id="page11-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 59px;"></div>
            <ion-list id="page11-list3" class=" ">
                <label class="item item-input " id="page11-input1" name="username">
                    <input type="text" placeholder="用户名">
                </label>
                <label class="item item-input " id="page11-input2" name="mail">
                    <input type="text" placeholder="邮箱">
                </label>
                <label class="item item-input " id="page11-input3" name="password">
                    <input type="text" placeholder="密码">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 51px;"></div>
            <a ui-sref="tabs.nearby" id="page11-button18" class=" button button-positive  button-block ">注册</a>
            <a ui-sref="login" id="page12-button20" class=" button button-positive  button-block button-outline ">登录</a>
        </form>
    </ion-content>
</ion-view>